@model StringAnalyzer.Models.StringStatistics

<div>
    <h4>Results</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Longest word(s)</p>
        </dt>
        <dd class = "col-sm-10">
            @Model.PrintArrayList(@Model.LongestWords())
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("New string to analyze", "TextInput", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
