@model StringAnalyzer.Models.StringStatistics
@using StringAnalyzer.Services



<div>
    <h4>Results</h4>
    <!--qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq-->
    @Model.Ladeni()
     <!--qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq-->

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
        <dl class="row">
        <dt class = "col-sm-2">
            Longest word(s)
        </dt>
        <dd class = "col-sm-10">
             @CustomizeArray.ArrayListToString(@Model.LongestWords())
        </dd>
        </dl>
     <dl class="row">
        <dt class = "col-sm-2">
            Shortest word(s)
        </dt>
        <dd class = "col-sm-10">
            @CustomizeArray.ArrayListToString(@Model.ShortestWords())
        </dd>
    </dl>
     <dl class="row">
        <dt class = "col-sm-2">
            Most frequent word(s) 
        </dt>
        <dd class = "col-sm-10">
            @CustomizeArray.ArrayListToString(@Model.MostCommonWords())
        </dd>
    </dl>
        <dl class="row">
        <dt class = "col-sm-2">
            Sorted words
        </dt>
        <dd class = "col-sm-10">
             @CustomizeArray.ArrayToString(@Model.Alpabetize())
        </dd>
    </dl>
        </dl>
        <dl class="row">
        <dt class = "col-sm-2">
            Avarage word length
        </dt>
        <dd class = "col-sm-10">
             @Model.AvarageWordLength() letters
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Number of words
        </dt>
        <dd class = "col-sm-10">
            @Model.NumberOfWords()
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Number of rows
        </dt>
        <dd class = "col-sm-10">
            @Model.NumberOfRows()
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Number of sentences
        </dt>
        <dd class = "col-sm-10">
            @Model.NumberOfSentences()
        </dd>
    </dl>




 <!-- prumern8 delka vet-->

</div>
<div>
    @Html.ActionLink("New string to analyze", "TextInput", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
